progress {
    width: 1.5em;
}


.uptime-summary .tags .tag {
    opacity: revert;
}

.uptime-summary .tags.uptime {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.uptime-summary .last-and-next-checks .tag.hv .v {
    white-space: initial;
}

.uptime-summary .last-and-next-checks .tag.hv .v time {
    white-space: nowrap;
}


#summary .uptime-summary .tags.uptime {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


#summary .tab-groups {
    font-size: larger;
    font-weight: bold;
    margin-top: 1em;
}

#summary .tab-groups .tabs {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#summary .tab-groups .tabs [data-tier="2"] {
    opacity: revert; /* I would normally reduce this to 0.6, but I don't like the resulting aesthetics. */
}

#summary .tab-groups .tabs > h1 {
    margin-left: 0;
    margin-right: 0;
}

#summary .tab-groups .tabs > ul {
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-left: 0;
    margin-right: 0;
}

#summary .tab-groups .tabs > ul > li {
    flex: none;
    width: 4.75rem;
    border: medium solid black;
    margin: 0.15em;
    white-space: nowrap;
}

#summary .tab-groups .tabs > ul > li > a {
    padding: 0.2rem 0.4rem;
    color: black;
}

#summary .tab-groups .tabs > ul > li:hover {
    border-color: blue;
}


#summary .tab-groups .tabs > ul > li.up > a {
    background-color: rgba(0, 255, 0, 0.5);
}

#summary .tab-groups .tabs > ul > li.down > a {
    background-color: red;
}


/* Magically align hexstream.xyz with hexstreamsoft.com. */
@media (min-width: 82.5em) {
    #summary #summary_hexstream\.net {
        position: relative;
        left: -0.8em;
    }

    #summary #summary_hexstream\.xyz,
    #summary #summary_hexstream\.dev {
        position: relative;
        left: 0.3em;
    }

    #summary #summary_stream-lisp\.org {
        position: relative;
        left: -1.4em;
    }
}


main table tr[data-tier="2"] {
    color: rgba(0, 0, 0, 0.6);
}

main table tr[data-tier="2"] a {
    opacity: 0.6;
}


main table .current-status {
    text-align: center;
    font-weight: bold;
    width: 4.75rem;
}

#recent-checks .current-status {
    width: revert;
}

main table .uptime {
    text-align: center;
}

main table tr.up .current-status {
    color: forestgreen;
}

main table tr.down .current-status {
    background-color: red;
}

main table tr[data-tier="2"].up .current-status {
    color: rgba(34, 139, 34, 0.6); /* forestgreen */
}

main table tr[data-tier="2"].down .current-status {
    background-color: rgba(255, 0, 0, 0.6); /* red */
}


/* .navtable instead of table to ensure padding does not get overridden. */
main .navtable thead .uptime {
    font-size: smaller;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.1;
}

main table .interval {
    text-align: center;
}


#details caption {
    margin-bottom: 0.25em;
}

#details #recent-and-upcoming-checks > .compact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-content: space-evenly;
}


#about-updown\.io p {
    text-align: center;
}


#meta-nav .updown::before {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/updown.io.png");
}

@media (max-width: 34em) {
    #meta-nav .updown::after {
        content: "updown.io";
    }
}

@media (max-width: 20em) {
    #meta-nav .updown::after {
        content: "​"; /* Zero width space */
    }
}
